Make sure the repo is always using LF, and the working directory text files end of line
is LF for Linux/Macos, is CRLF for Windows.

safecrlf = true
- This is setting in the repo's config, to make sure nerver mixed CRLF and LF in the repo.

eol = native      [default]
- when under Windows:
  working directory text files end of line using CRLF
- when under Linux/Macos:
  working directory text files end of line using LF

autocrlf = true   [default]
- This will auto convert LF between core.eol
- when under Windows: core.eol by default is CRLF
  commit, auto convert CRLF to LF for working directory text files
  checkout, auto convert LF to CRLF for working directory text files
- when under Linux/Macos: core.eol by default is LF
  commit, do no converting
  checkout, do no converting

Working under Linux/Macos:
- make sure the accidentally get into repo's CRLF will be auto converted to LF
  $ git config --global core.autocrlf=input
  - commit, auto convert CRLF to LF for working directory text files
  - checkout, do no converting
